@import "bootstrap-overrides.css";

main {
  min-height: calc(100vh);
}

/* ----- Header ----- */
header a.menu {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
/* ----- end header ----- */

/* sections */
#presentation {
  width: calc(100vw);
  /* height: calc(100%); */
}

#presentation .content {
  margin-bottom: -0.5rem;
}

.presentation-video {
  width: calc(100%);
}

ul.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  width: calc(100%);
}

ul.scrollmenu a.nav-link {
  color: white;
}

ul.scrollmenu a.nav-link.active {
  color: white;
  background-color: #777;
  text-decoration: none;
}

#objetives-section {
  min-height: calc(50vh);
  height: calc(100%);
  padding: 1rem;
}

#headingJornadaAseo {
  background-color: #5aa469;
}
#headingDesayunoComunitario {
  background-color: #34626c;
}
#headingObsequios {
  background-color: #fecd1a;
}
#headingJornadaRecreativa {
  background-color: #fd3a69;
}

footer {
  bottom: 0;
	background-color: #7b000b;
	height: calc(100% + 2rem);
  padding: 2rem 0;
  color: white;
  margin-top: 1rem;
}

footer a {
  font-weight: bolder;
  color: white;
}
footer a:hover {
  color: black;
}

@media only screen and (min-width: 700px) {
  .scrollmenu {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 1200px) {
  #presentation {
    width: calc(100vw - 0.8rem);
  }
}
